[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
flask = "*"
uvicorn = "*"
opencv-python = "*"
flask-cors = "*"
requests = "*"
ffmpeg-python = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3"
